{% extends 'admin.html.twig' %}

{% block title %}Faq index
{% endblock %}

{% block body %}
	{% include '_components/_dots.html.twig' %}

	<div class="container">
		<h1 class="text-primary my-5 fw-bold">FAQ</h1>

		<table class="table">
			<thead>
				<tr>
					<th class="text-dark">Questions</th>
					<th class="text-dark">Reponse</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for faq in faqs %}
					<tr>
						
						<td class="text-dark">{{ faq.questions }}</td>
						<td class="text-dark">{{ faq.reponse }}</td>
						<td>

							<a class="btn btn-sm btn-primary text-light" href="{{ path('app_faq_edit', {'id': faq.id}) }}">
                            <img src="{{ asset('build/images/pencil.svg') }}" width="20px">
								Modifier</a>
						</td>

						<td>

							<a class="btn btn-sm btn-danger text-light" href="{{ path('app_faq_delete', {'id': faq.id}) }}">
                            <img src="{{ asset('build/images/cross.svg') }}" width="20px">
								Supprimer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-sm btn-success my-5 p-2 text-dark" href="{{ path('app_faq_new') }}">Créer une nouvelle question/réponse</a>
	</div>
{% endblock %}
