{% extends 'base.html.twig' %}

{% block title %}Emmaus || Connexion
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
	{% include '_components/_dots.html.twig' %}

	<div class="login">
		<div class="container my-5">
			<div class="bg-image m-auto py-5 text-center text-light rounded">
				{% if error %}
					<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				<h2 class="fw-bold text-dark">Connexion</h2>
				<form class="m-5" action="{{ path('app_login') }}" method="post">
					<div class="mb-3 text-start">
						<label class="form-label text-dark fw-semibold" for="username">Adresse email :</label>
						<input class="form-control text-dark shadow" type="username" id="username" name="_username" value="{{ last_username }}">

					</div>
					<div class="text-start">
						<label class="form-label text-dark fw-semibold" for="password">Mot de passe :</label>
						<input class="form-control text-dark shadow" type="password" id="password" name="_password">

						<a class="text-dark fw-medium" href="#">Mot de passe oublié ?</a>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button class="mt-5 btn btn-light shadow rounded-pill border border-dark px-3 text-light fw-bold" type="submit">Se connecter</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
