{% extends 'admin.html.twig' %}

{% block title %}Mobil index
{% endblock %}

{% block body %}
{% include '_components/_dots.html.twig' %}
<div class="container">
	<h1 class="text-primary my-5 fw-bold">Liste des mobiles en stock</h1>
	
		<table class="table">
			<thead>
				<tr>

					<th class="text-dark">Marque</th>
					<th class="text-dark">Modele</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for mobil in mobils %}
					<tr>
						<td class="text-dark">{{ mobil.marque }}</td>
						<td class="text-dark">{{ mobil.modele }}</td>
						<td>
							<a class="btn btn-sm btn-primary text-light" href="{{ path('app_mobil_edit', {'id': mobil.id}) }}">
							<img src="{{ asset('build/images/pencil.svg') }}" width="20px">
							Modifier</a>
						</td>
						<td>
							<a class="btn btn-sm btn-danger text-light" href="{{ path('app_mobil_delete', {'id': mobil.id}) }}">
							<img src="{{ asset('build/images/cross.svg') }}" width="20px">
							Supprimer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="container">
		<a class="btn btn-sm btn-success my-5 p-2 text-dark" href="{{ path('app_mobil_new') }}">Créer un nouveau smartphone</a>
	</div>
{% endblock %}
