{% extends 'base.html.twig' %}

{% block title %}Mobil{% endblock %}

{% block body %}
    <h1>Mobil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mobil.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ mobil.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ mobil.modele }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ mobil.poster }}</td>
            </tr>
          
        </tbody>
    </table>

    <a href="{{ path('app_mobil_index') }}">back to list</a>

    <a href="{{ path('app_mobil_edit', {'id': mobil.id}) }}">edit</a>

    {{ include('mobil/_delete_form.html.twig') }}
{% endblock %}
