{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	{% include '_components/_dots.html.twig' %}


	<div class="container">
		<h1 class="text-primary my-5 fw-bold">Utilisateurs</h1>

		<table class="table">
			<thead>
				<tr>
					<th class="text-dark">Email</th>
					<th class="text-dark">Roles</th>
					<th class="text-dark">Mot de passe</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td class="text-dark">{{ user.email }}</td>

						<td class="text-dark">{{ user.roles ? user.roles|json_encode : '' }}</td>

						<td></td>
						<td>
							<a class="btn btn-sm btn-primary text-light" href="{{ path('user_edit', {'id': user.id}) }}">
								<img src="{{ asset('build/images/pencil.svg') }}" width="20px">


								Modifier</a>
						</td>
						<td>
							<a class="btn btn-sm btn-danger text-light" href="{{ path('user_delete', {'id': user.id}) }}">
								<img src="{{ asset('build/images/cross.svg') }}" width="20px">


								Supprimer</td>
						</td>
						<td></td>
					</tr>


				{% else %}


					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-sm btn-success my-5 p-2 text-dark" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
	</div>
{% endblock %}
